body{
    background-color:gray;
    
}

body h1{
    text-align:center;
}

#lake{
    display: flex;
    text-align: right;
    

}

*{
    font-family: 'Times New Roman';
    color: rgb(148, 15, 37);
}